@font-face {
  font-family: 'Shekasteh';
  src: url("/src/contexts/font/Shekasteh.ttf") format('truetype');
}

@font-face {
  font-family: 'IranNastaliq';
  src: url("/src/contexts/font/IranNastaliq.ttf") format('truetype');
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'IranNastaliq', sans-serif;
}

.pipe {
  font-size: 2em;
  color: white;
  margin-right: 10px;
}

.text {
  font-size: 3em; /* اندازه متن برای دسکتاپ */
  color: white;
  white-space: nowrap;
}

.text a {
  color: white;
  text-decoration: none;
}

.text a:hover {
  color: white;
  text-decoration: none;
}

.instagram-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100px;
  animation: slideInFromLeft 1s ease-out;
}

.instagram-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.instagram-link {
  font-size: 1em;
  color: white;
  text-decoration: none;
  font-family: "Ink Free", serif;
}

.instagram-link:hover {
  color: #ccc;
}

.instagram-container .anticon {
  color: #E4405F;
  font-size: 20px;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==== Media Queries برای نمایشگرهای موبایل ==== */
@media (max-width: 768px) {
  .text {
    font-size: 2em; /* کاهش اندازه متن برای موبایل */
    text-align: center;
  }

  .instagram-container {
    flex-direction: column; /* نمایش عمودی در موبایل */
    margin-top: 50px; /* کاهش فاصله */
  }

  .instagram-logo {
    width: 40px;
    height: 40px;
    margin-bottom: 10px; /* تنظیم فاصله */
  }

  .instagram-link {
    font-size: 0.9em; /* کوچک‌تر شدن فونت لینک */
    text-align: center;
  }

  .container {
    width: 90%;
    flex-direction: column; /* چیدمان عمودی */
  }
}
