@font-face {
  font-family: 'Shekasteh';
  src: url("/src/contexts/font/Shekasteh.ttf") format('truetype');
}

@font-face {
  font-family: 'IranNastaliq';
  src: url("/src/contexts/font/IranNastaliq.ttf") format('truetype');
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'IranNastaliq', sans-serif;
}

.pipe {
  font-size: 2em;
  color: white;
  margin-right: 10px;
}

/*.text {*/
/*  font-size: 3em;*/
/*  color: white;*/
/*  white-space: nowrap;*/
/*}*/

.text {
  font-size: 3em; /* اندازه متن */
  color: white;
  white-space: nowrap;
  margin-bottom: 40px; /* فاصله از لینک‌های شبکه‌های اجتماعی */
}

.text a {
  color: white;
  text-decoration: none;
}

.text a:hover {
  color: white;
  text-decoration: none;
}

/* تنظیمات آیکون و لینک‌های اجتماعی */
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100px;
  animation: slideInFromLeft 1s ease-out;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.social-item .social-link {
  font-size: 1em;
  color: white;
  text-decoration: none;
  font-family: "Ink Free", serif;
  margin-left: 10px;
}

.social-item .social-link:hover {
  color: #ccc;
}

.instagram-icon {
  color: #E4405F; /* رنگ قرمز کم‌رنگ مشابه لوگوی اینستاگرام */
  font-size: 24px;
}

.linkedin-icon {
  color: #0077b5; /* رنگ آبی لینکدین */
  font-size: 24px;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==== Media Queries برای نمایشگرهای موبایل ==== */
@media (max-width: 768px) {
  .text {
    font-size: 2em; /* کاهش اندازه متن برای موبایل */
    text-align: center;
  }

  .social-container {
    flex-direction: column; /* نمایش عمودی در موبایل */
    margin-top: 50px; /* کاهش فاصله */
  }

  .social-item {
    flex-direction: row; /* چیدمان افقی در موبایل */
  }

  .social-link {
    font-size: 0.9em; /* کوچک‌تر شدن فونت لینک */
  }

  .container {
    width: 90%;
    flex-direction: column; /* چیدمان عمودی */
  }

  .instagram-icon, .linkedin-icon {
    font-size: 20px; /* کوچک‌تر شدن آیکون‌ها */
  }
}
